extends /layouts/application.pug

block content
  .container
    .pt-4.pb-5.text-center
      h2 Edit account

  
    .row
      .container.col-md-4
            h4 Account details
            hr
            +formFor(formObj, { url: urlFor('users'), method: 'patch' })
              +input(formObj, 'email', 'Email')
              +input(formObj, 'firstName', 'First name')
              +input(formObj, 'lastName', 'Last name')
              +button('Save')
            +formFor(formObj, { url: urlFor('users'), method: 'delete', confirm: 'Are yoy sure to delete account?' })
              +button('Delete', 'submit', 'danger')
              
